@font-face {
  font-family: Agrandir;
  src: url("../fonts/Agrandir/Agrandir-Regular.otf");
}

html {
  height: 100vh;
}

/* Style related to the header.ejs */

.main-container {
  font-family: Agrandir;
}

.container-fluid {
  background-color: #e7dfd8;
}

/* NAVBAR */
.nav-item {
  font-size: 14px;
  font-weight: bold;
}

/* end styles related to the header.ejs */

/* HOMEPAGE */
.index {
  background-color: rgba(116, 103, 87, 0.3);
}

.name {
  font-size: 4rem;
  font-weight: bold;
}

.bio {
  font-size: 1.313rem;
}

.left-content {
  margin-bottom: 6.5rem;
}

.left-content-bottom em {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
}

.left-content-bottom a {
  margin-right: 8px;
  text-decoration: none;
}
